 body{
	font-size:12px;
        margin:0px;
	padding:0px;
	text-align:center;
	background:#fff;
	color:#000;
	font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
 p{margin:5px;}
 img {max-width: 100%;height: auto;}
 select{font-family: Verdana, Arial}
 th{border-bottom:1px solid #bbb;}